@using IT_Shop.Models
@model List<Category>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
</head>
<body>
<div class="body-wrap">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/index">IT Shop</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @foreach (var cat in Model)
                        {
                            if (cat.SubCategories.Count > 0)
                            {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@cat.Name<b class="caret"></b></a>
                                    @*@Html.ActionLink("Componente", "Categories", "Category", null, new {@class = "dropdown-toggle"})*@
                                    <ul class="dropdown-menu">
                                        @foreach (var j in cat.SubCategories)
                                        {
                                            <li>@Html.ActionLink(j.Name, "ViewProducts", new {CategoryName = j.Parent.Name, SubcategoryName = j.Name.Replace(" ","_")})</li>

                                        }                                        
                                @*<li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>*@
                                    </ul>
                                </li>
                            }
                        }
                        <li>@Html.RouteLink("Producatori", "Manufacturers", new {action = "ViewManufacturers"})</li>
                            </ul>                     
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
</div>
</body>
</html>